#camera-container {
   padding-top: 1em;
   position: relative;
   text-align: center;
}

#camera1 {
   position: relative;
   user-select: none;
}

#camera2 {
   position: absolute;
   user-select: none;
}