#camera-container {
   padding-top: 1em;
   position: relative;
   text-align: center;
}

#camera1 {
   position: relative;
   user-select: none;
}

#camera1:hover {
   filter: drop-shadow(0px 0px 7px lightblue);
}

#camera2 {
   position: absolute;
   user-select: none;
}

.camera-screen:hover {
   filter: drop-shadow(0px 0px 10px lightcoral);
}

.camera-flash {
   filter: drop-shadow(0px 0px 100px white);
}

#photo-modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
 }
 
 .modal-content {
   background-color: #fefefe;
   margin: 3% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 1202px;
 }

 #large-photo {
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1200px;
 }
 
 #close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 #close:hover,
 #close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }