svg {
   width: 100%;
}

#greetings {
   font-family: 'Courier New', Courier, monospace;
   font-size: 18pt;
   padding-top: 10px;
}

clipPath {
   font-family: 'Lato', sans-serif;
   font-size: 36pt;
}

.my-name path {
   animation: transition-in 1.7s cubic-bezier(0.2, 0.1, 0.1, 0.8);
   transform-origin: 50% 50%;
   transform-box: fill-box;
}

@keyframes transition-in {
   0% {
      -webkit-transform: scale(0) rotate(180deg);
      transform: scale(0) rotate(180deg);
   }

   100% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
   }
}

.pulse path {
   animation: pulse 4s cubic-bezier(0.15, 0.05, 0.25, 0.75);
   transform-origin: 50% 50%;
   transform-box: fill-box;
}

.invisible path {
   -webkit-transform: scale(0) rotate(180deg);
   transform: scale(0) rotate(180deg);
}

@keyframes pulse {
   0%,
   100% {
      -webkit-transform: scale(0) rotate(180deg);
      transform: scale(0) rotate(180deg);
   }

   20%,
   80% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
   }
}